#footer {
    width: 100%;
    background: #1070FF;
}

.footer-logo {
    display: flex;
    max-width: 90%;
    margin: auto;
    align-items: center;
    padding-top: 5%;
    box-sizing: border-box;
}

.footer-logo img {
    width: 3%;
    height: 50%;
}

.footer-logo p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.footer-wrapper {
    max-width: 90%;
    margin: auto;
    padding-bottom: 10%;
    box-sizing: border-box;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-links .link-block {
    display: flex;
    flex-direction: column;
    justify-content:left;
    box-sizing: border-box;
}

.footer-links .link-block p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* text-align: left; */
    color: #FAFAFA;
}
.footer-links .link-block a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* text-align: center; */
    color: #FAFAFA;
    margin-top: 50px;
}
.footer-links .link-block a:hover{
    color: black;
    transition: 1s;
}